[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
graphene-django = "*"
django-filter = "*"
django-graphql-jwt = "*"

[requires]
python_version = "3.7"
